// alternate 00c7fe

$body-bg: Black;
$eblue: #00c7fe;
$body-color: $eblue;

$title-color: $eblue;

$navbar-background-color: black;
$navbar-item-color: $eblue;
$navbar-item-hover-color: black;
$navbar-item-hover-background-color: $eblue;